@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: gray;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.verticalButtons {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0;
  padding: 24px;
}

button {
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  margin: 5px;
  cursor: pointer;
}

#carCanvas {
  background-color: lightgray;
  margin-right: 24px;
}

#networkCanvas {
  background-color: black;
}
